<h1>Sales</h1>

<table>
  <tr>
    <td><b>Sale Date</b></td>
    <td><b>Sale Amount</b></td>
    <td><b>Invoice No</b></td>
    <td><b>Units Sold</b></td>
  </tr>
  <% @sale_within_last_6_months.each do |sale| %>
  <% binding.pry %>
  <tr>
    <td><%= sale.sale_date %></td>
    <td><%= sale.sale_amount %></td>
    <td><%= sale.invoice_no %></td>
    <td><%= sale.units_sold %></td>
  </tr>
  <% end %>
</table>
